<template>
<div class="row">
    <header class=" navMargin">
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <a class="navbar-brand" href="#">
        <img src="/src/assets/img/v-logo.png" height="35" alt="">
    </a>
    <a class="btn btn-default" href="#menu-toggle" id="menu-toggle" role="button">
        <a><i class="fa fa-navicon fa-lg"></i></a>
    </a>
    <div>
      <vs-crumbs></vs-crumbs>
    </div>

    <div class="ml-auto">
        <ul class="navbar-nav ">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img :src="avatar" class="rounded-circle img-thumbnail inset" alt="image"> 
            {{ userName }}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">   
              <router-link class="dropdown-item" :to="{name: 'profile'}"><i class="fa fa-user fa-fw" aria-hidden="true"></i> Profile</router-link>
              <router-link class="dropdown-item" :to="{name: 'activeSessions'}"><i class="fa fa-tasks fa-fw" aria-hidden="true"></i> Active Sessions</router-link>
              <a class="dropdown-item" href="#" @click="clickLogOut"><i class="fa fa-sign-out fa-fw" aria-hidden="true"></i> Logout</a>
            </div>
        </li>
        </ul>
    </div>
    </nav>
    </header>

    <!-- Sidebar -->
   <div class="container-fluid" id="wrapper">
      <div class="row">
        <div class="col">
        <nav class="d-sm-block bg-light sidebar" id="sidebar-wrapper">
          <div class="col-sm-10 mx-auto d-block">
          <img :src="avatar" class="rounded-circle img-thumbnail" alt="image">
          <div class="text-center lead"><strong>{{ userName }}</strong></div>  
          </div>
          <ul class="nav nav-pills flex-column">
            <li class="nav-item">
              <router-link class="nav-link" :to="{ name: 'dashboard'}">Dashboard</router-link>
            </li>
            <li class="nav-item" v-show="roleID == roleIdSet">
              <router-link class="nav-link" :to="{ name: 'users'}">Users</router-link>
            </li>
            <li class="nav-item" v-show="roleID == roleIdSet">
              <router-link class="nav-link" :to="{ name: 'adminactivitylog'}">Activity Log</router-link>
            </li>
            <li class="nav-item" v-show="roleID == roleIdSet">
              <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapse1">Roles & Permission  <i class="fa fa-angle-down fa-fw" aria-hidden="true"></i></a>
            </li>
                <div class="collapse" id="collapse1">
                    <li class="nav-item">
                    <router-link class="nav-link" :to="{ name: 'roles'}">&nbsp; Roles</router-link>
                    </li>
                    <li class="nav-item">
                    <router-link class="nav-link" :to="{ name: 'permissions'}">&nbsp; Permissions</router-link>                      
                    </li>
                </div>
            <li class="nav-item" v-show="roleID == roleIdSet">
              <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapse2">Settings <i class="fa fa-angle-down fa-fw" aria-hidden="true"></i></a>
            </li>
                <div class="collapse" id="collapse2">
                    <li class="nav-item">
                    <router-link class="nav-link" :to="{ name: 'general'}">&nbsp; General</router-link> 
                    </li>
                    <li class="nav-item">
                    <router-link class="nav-link" :to="{ name: 'registrations'}">&nbsp; Auth & Registration</router-link> 
                    </li>
                    <li class="nav-item">
                    <router-link class="nav-link" :to="{ name: 'notifications'}">&nbsp; Notifications</router-link> 
                    </li>
                </div>
          </ul>      
        </nav>
        </div>
        <div class="col-10">
        <!-- <div id="page-content-wrapper"> -->
            <div class="container-fluid">
                <router-view></router-view>         
            </div>
        <!-- </div> -->
        </div>
      </div>
    </div>
    </div>
</template>

<script>
import { mapGetters } from 'vuex';
import axios from 'axios';
import toastr from "toastr";
export default {
    computed: mapGetters({
        roladeskAPI: 'roladeskAPIget',
        roleIdSet: 'settingsRoleId'
        }),
    data() {
      return {
        avatar: '',
        userName: '',
        logoutError: '',
        credentialsToken: '',
        roleID: ''
         } 
      },
    methods: {
      clickLogOut() {  
        axios.post(this.roladeskAPI + 'logout', { headers: 
            { Authorization: 'Bearer '+ localStorage.getItem("token")} 
            })
            .then((response)=> {
                if(response.status == 200){
                    localStorage.clear();
                    toastr.success("Logout Successfully!");
                    this.$router.push('/login');
                }
            })       
            .catch((error)=> {
              toastr.error(error.response.data)
                if(error.response.status == 401){
                    this.logoutError = error.response.data.error;
                }
            })
        }
    },
    created() {
      this.userName = String(localStorage.getItem("username"))
      this.roleID = String(localStorage.getItem("role_id"))
      this.avatar = localStorage.getItem("avatar")
    } 
}
</script>

<style>
      .inset {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow:
    inset 0 0 0 2px rgba(255,255,255,0.6), 
    0 1px 1px rgba(0,0,0,0.1);
  background-color: transparent !important;
  z-index: 999;
}

.inset img {
  border-radius: inherit;
  width: inherit;
  height: inherit;
  display: block;
  position: relative;
  z-index: 998;
}

.vl {
  border-right: 1px solid gray;
}
.navMargin {
    margin:72px;
}

/* sidemenu */
/* 
body {
  overflow-x: hidden;
}

#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled {
  padding-left: 250px;
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: #000;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
  width: 250px;
}

#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -250px;
} */

</style>
