<template>
  <div>
    Permissions
  </div>
</template>

<script>
export default {
      name: 'permissions',
      metaInfo: {
      title: 'Permissions'+' | Roladesk',
      // override the parent template and just use the above title only
      titleTemplate: null
    }
}
</script>
