<template>
  <div>
    Roles
  </div>
</template>

<script>
export default {
      name: 'roles',
      metaInfo: {
      title: 'Roles'+' | Roladesk',
      // override the parent template and just use the above title only
      titleTemplate: null
    }  
}
</script>
