<template>
  <div>
    Registrations
  </div>
</template>

<script>
export default {
      name: 'auth-registrations',
      metaInfo: {
      title: 'Auth-Registrations'+' | Roladesk',
      // override the parent template and just use the above title only
      titleTemplate: null
    }
}
</script>
