<template>
  <div>
   General
  </div>
</template>

<script>
export default {
      name: 'general',
      metaInfo: {
      title: 'General'+' | Roladesk',
      // override the parent template and just use the above title only
      titleTemplate: null
    }
}
</script>
