<template>
  <div>
   Notifications
  </div>
</template>

<script>
export default {
      name: 'notifications',
      metaInfo: {
      title: 'Notifications'+' | Roladesk',
      // override the parent template and just use the above title only
      titleTemplate: null
    }
}
</script>
