<template>
    <div>
        <Dashboard v-if="roleID == roleIdSet"></Dashboard>
        <UserDashboard v-else></UserDashboard>
    </div>
</template>
<script>
import Dashboard from './Dashboard.vue'
import UserDashboard from './UserDashboard.vue'
import {mapGetters} from 'vuex'
export default {
    computed: mapGetters({
        roleIdSet: 'settingsRoleId'
        }),
    components: {
        Dashboard, UserDashboard
    },
    data() {
        return {
            roleID: localStorage.getItem("role_id")
        }
    }
}
</script>
