<template>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
            <div class="card-header">NEW USERS THIS MONTH</div>
            <div class="card-body">
                <div class="row">
                    <div class="col"><h1>{{countNew}}</h1></div>
                    <div class="col"><i class="fa fa-user-plus fa-5x"></i></div>                
                </div>

            </div>
            <div class="card-footer">
                <router-link :to="{name: 'users'}" style="color: white">View All Users
                    <i class="fa fa-arrow-circle-right float-right"></i>
                </router-link>
            </div>            
            </div>
        </div>

        <div class="col">
            <div class="card text-white bg-success mb-3" style="max-width: 20rem;">
            <div class="card-header">TOTAL USERS</div>
            <div class="card-body">
                <div class="row">
                    <div class="col"><h1>{{countUser}}</h1></div>
                    <div class="col"><i class="fa fa-users fa-5x"></i></div>                
                </div>
            </div>
            <div class="card-footer">
                <router-link :to="{name: 'users'}" style="color: white">View Details
                    <i class="fa fa-arrow-circle-right float-right"></i>
                </router-link>
            </div>            
            </div>
        </div>

        <div class="col">
            <div class="card text-white bg-danger mb-3" style="max-width: 20rem;">
            <div class="card-header">BANNED USERS</div>
            <div class="card-body">
                <div class="row">
                    <div class="col"><h1>{{countBanned}}</h1></div>
                    <div class="col"><i class="fa fa-user-times fa-5x"></i></div>                
                </div>
            </div>
            <div class="card-footer">
                <router-link :to="{name: 'users'}" style="color: white">View Details
                    <i class="fa fa-arrow-circle-right float-right"></i>
                </router-link>
            </div>            
            </div>
        </div>

        <div class="col">
            <div class="card text-white bg-warning mb-3" style="max-width: 20rem;">
            <div class="card-header">UNCONFIRMED USERS</div>
            <div class="card-body">
                <div class="row">
                    <div class="col"><h1>{{countUnconfirmed}}</h1></div>
                    <div class="col"><i class="fa fa-user fa-5x"></i></div>                
                </div>
            </div>
            <div class="card-footer">
                <router-link :to="{name: 'users'}" style="color: white">View Details
                    <i class="fa fa-arrow-circle-right float-right"></i>
                </router-link>
            </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <registration-history></registration-history>
        </div>
        <div class="col-md-4">
            <div class="card bg-default">
                <div class="card-header">Latest Registrations</div>
                <div class="card-body">
                    <ul class="list-group" v-for="latestUsers in AllUsers" :key="latestUsers.username">
                        <li class="list-group-item">
                        <img :src="avatar" class="rounded-circle img-thumbnail inset" alt="image">
                        &nbsp;&nbsp;{{ latestUsers.username }}
                        </li>
                    </ul>
                    <br>
                    <router-link :to="{name: 'users'}">
                    <button type="button" class="btn btn-default btn-block cursorhand">
                        View All Users
                    </button>
                    </router-link>   
                </div>
            </div>
        </div>
    </div>
</div>
</template>

<script>
import RegistrationHistory from '../charts/RegistrationHistory.vue'
import { mapGetters } from 'vuex';
import axios from 'axios';

function filterNew(el) {
    return el.created_at;
}

function filterBanned(el) {
    return el.status == "Banned";
}

function filterUnconfirmed(el) {
    return el.status == "Unconfirmed";
}

export default {
    name: 'dashboard',
    metaInfo: {
    title: 'Dashboard'+' | Roladesk',
      // override the parent template and just use the above title only
      titleTemplate: null
    },
    computed: mapGetters({
            roladeskAPI: 'roladeskAPIget',
            roleIdSet: 'settingsRoleId'
            }),
    components: {
        RegistrationHistory
    },
    data(){ 
        return {
        AllUsers: '',
        avatar: '',
        datetoday: '',
        countNew: '',
        countUser: '',
        countBanned: '',
        countUnconfirmed: '',
        test: ''

        }
    },
    created() {
        if(localStorage.getItem("role_id") == this.roleIdSet) {
            // if admin - get all user's info for Activity Log  
                axios.get(this.roladeskAPI + 'users', { headers: {
                Authorization: 'Bearer ' + String(localStorage.getItem("token")) }
                    })
                .then((response)=> { 
                    if(response.status == 200){
                        localStorage.usersData = JSON.stringify(response.data.data)
                        localStorage.usersMeta = JSON.stringify(response.data.meta)           
                        }      
                    })
                .catch((error) => {
                    // console.log(error.response)
                    });
        }

        this.AllUsers = JSON.parse(localStorage.getItem("usersData"));
        this.avatar = localStorage.getItem("avatar")
        this.datetoday = Date(); 
        this.countNew = JSON.parse(localStorage.getItem("usersData")).filter(filterNew).length;
        this.countUser = this.AllUsers.length
        this.countBanned = JSON.parse(localStorage.getItem("usersData")).filter(filterBanned).length;
        this.countUnconfirmed = JSON.parse(localStorage.getItem("usersData")).filter(filterUnconfirmed).length;


    }
}

</script>

<style>

</style>



 