<template>
    <div class="container">
    <div class="row">
        <div class="col">
            <router-link :to="{ name: 'profile'}">
            <div class="card text-dark bg-default mb-3" style="max-width: 20rem;">
            <div class="card-body">
                <h4 class="card-title text-center"><i class="fa fa-user-o fa-2x" aria-hidden="true"></i></h4>
                <p class="card-text text-center">Update Profile</p>
            </div>
            </div>
            </router-link>
        </div>

        <div class="col">
            <router-link :to="{ name: 'activeSessions'}">
            <div class="card text-dark bg-default mb-3" style="max-width: 20rem;">
            <div class="card-body">
                <h4 class="card-title text-center"><i class="fa fa-list fa-2x" aria-hidden="true"></i></h4>
                <p class="card-text text-center">My Sessions</p>
            </div>
            </div>
            </router-link>
        </div>

        <div class="col">
            <router-link :to="{ name: 'useractivitylog'}">
            <div class="card text-dark bg-default mb-3" style="max-width: 20rem;">
            <div class="card-body">
                <h4 class="card-title text-center"><i class="fa fa-list-alt fa-2x" aria-hidden="true"></i></h4>
                <p class="card-text text-center">Activity Log</p>
            </div>
            </div>
            </router-link>
        </div>

        <div class="col">
            <router-link to="#">
            <div class="card text-dark bg-default mb-3" style="max-width: 20rem;">
            <div class="card-body" @click="clickLogOut">
                <h4 class="card-title text-center"><i class="fa fa-sign-out fa-2x" aria-hidden="true"></i></h4>
                <p class="card-text text-center">Log Out</p>
            </div>
            </div>
            </router-link>
        </div>
    </div>
    <UserStats></UserStats>
    </div>
</template>

<script>
import { mapGetters } from 'vuex';
import axios from 'axios';
import toastr from "toastr";
import UserStats from '../charts/UserStats.vue'
export default {
    name: 'dashboard',
    metaInfo: {
      title: 'Dashboard'+' | Roladesk',
      // override the parent template and just use the above title only
      titleTemplate: null
    },
    components: {
        UserStats
    },
    computed: mapGetters({
            roladeskAPI: 'roladeskAPIget'
            }),
    methods: {
      clickLogOut() {      
        axios.post(this.roladeskAPI + 'logout', {headers: 
            {Authorization: 'Bearer '+ String(localStorage.getItem("token"))}
            })
            .then((response)=> {
              console.log(response);
                if(response.status == 200){
                    localStorage.clear();
                    toastr.success("Logout Successfully!");
                    this.$router.push('/login');
                }
            })       
            .catch((error)=> {
                toastr.error(error.response.data)
            })
        }
    }
}
</script>