<template>
  <div>
    <admin-activity-log v-if="roleID == roleIdSet"></admin-activity-log>
    <user-activity-log v-else></user-activity-log>
  </div>
</template>

<script>
import AdminActivityLog from './AdminActivityLog.vue'
import UserActivityLog from './UserActivityLog.vue'
import {mapGetters} from 'vuex'
export default {
    computed: mapGetters({
        roleIdSet: 'settingsRoleId'
        }),
    components: {
      AdminActivityLog, UserActivityLog
    },
    data() {
        return {
            roleID: localStorage.getItem("role_id")
        }
    }
}
</script>
