<template>
  <div>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">IP Address</th>
            <th scope="col">Message</th>
            <th scope="col">Log Time</th>
            <th scope="col">More Info</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="data in userActivityLog" :key="data.created_at">
            <td>{{ data.ip_address }}</td>
            <td>{{ data.description }}</td>
            <td>{{ data.created_at }}</td>
            <td>
              <a tabindex="0" class="btn btn-primary btn-circles" role="button" data-toggle="popover" data-trigger="focus" title="User Agent" v-bind:data-content="data.user_agent">
                <i class="fa fa-info" ></i>
              </a>
            </td>   
          </tr>
        </tbody>
      </table>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import axios from 'axios';
export default {
    name: 'activity-log',
    metaInfo: {
      title: 'Activity-Log'+' | Roladesk',
      // override the parent template and just use the above title only
      titleTemplate: null
    },
      data() {
        return {
          userActivityLog: ''
        }
      },
      computed: mapGetters({
      roladeskAPI: 'roladeskAPIget'
      }),
  created() {     
        axios.get(this.roladeskAPI + 'activity', { headers: 
        { Authorization: 'Bearer ' + String(localStorage.getItem("token")) }
            })
          .then((response)=> {  
            // console.log(response.data)      
            })
          .catch((error) => {
            // console.log(error.response)
            })          
      }
}
</script>

<style scope>
body{margin:40px;}


.btn-circles {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-circles.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
.btn-circles.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}  
</style>