<template>
  <div>
      Users
  </div>
</template>

<script>
export default {
      name: 'users',
      metaInfo: {
      title: 'Users'+' | Roladesk',
      // override the parent template and just use the above title only
      titleTemplate: null
    }
}
</script>
