<template>
  <div>
    <div class="panel-heading">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" href="#1" data-toggle="tab">Details</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#2" data-toggle="tab">Authentication</a>
        </li>
      </ul>
    </div>
    <div class="panel-body">
      <div class="tab-content">
        <div class="tab-pane active" id="1">
          <br>
          <update-user-details></update-user-details>
        </div>

        <div class="tab-pane" id="2">
          <br>
          <update-login-details></update-login-details>
        </div>
      </div>  
    </div>
  </div>
</template>

<script>
import UpdateUserDetails from './UpdateUserDetails.vue';
import UpdateLoginDetails from './UpdateLoginDetails.vue';
export default {
    name: 'profile',
    metaInfo: {
    title: 'Profile'+' | Roladesk',
    // override the parent template and just use the above title only
    titleTemplate: null
    },
    components: {
        UpdateUserDetails, UpdateLoginDetails
    }
}
</script>