<template>
    <div>
        <div class="row">
        <div class="col-lg-8">
        <div class="card">
            <div class="card-header">
            Login Details
            </div>
            <div class="card-body">
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label class="col-md-6 control-label">Email</label>
                    <div class="col-md-6">
                        <input type="text" class="form-control" v-model="editLogin.loginEmail">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-6 control-label">Username</label>
                    <div class="col-md-6">
                        <input type="text" class="form-control" v-model="editLogin.loginUsername">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-6 control-label">New Password</label>
                    <div class="col-md-6">
                        <input type="text" class="form-control" v-model="editLogin.loginNewPW">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-6 control-label">Confirm New Password</label>
                    <div class="col-md-6">
                        <input type="text" class="form-control" v-model="editLogin.loginConfirmPW">
                    </div>
                </div>
            </form> 
            <button type="button" @click="clkLoginDetails" class="btn btn-primary">Update Details</button> 
            </div>
        </div>
        </div>
        </div>    
    </div>  
</template>

<script>
import { mapGetters } from 'vuex';
import axios from 'axios';
import toastr from 'toastr';
export default {
   computed: mapGetters({
      roladeskAPI: 'roladeskAPIget'
      }),
    data() {
      return {
        editLogin: {
          loginEmail: '',
          loginUsername: '',
          loginNewPW: '',
          loginConfirmPW: ''
        }
      }
    },
    methods: {
      clkLoginDetails() {
        axios.patch(this.roladeskAPI + 'me/details', { 
          headers: { Authorization: 'Bearer ' + String(localStorage.getItem("token")) 
          },
          body: {
            "email": this.editLogin.loginEmail,
            "username": this.editLogin.loginUsername,
            "password": this.editLogin.loginNewPW,
            "confirm_password": this.editLogin.loginConfirmPW
          }
        })
        .then((response)=> {
          console.log(response)
            if(response.data.status = 200){
              toastr.success("Updated Successfully!")
            }      
        })
          .catch((error) => {
            toastr.error(error.response.data)
        })        
      }          
    }

}
</script>
