<template>
    <div class="row">
      <div class="col-lg-8">
        <div class="card">
          <div class="card-header">
            User Details
          </div>
          <div class="card-body">
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label class="col-md-6 control-label">Role</label>
                    <div class="col-md-6">
                        <input type="text" class="form-control" v-model="editProfile.role">
                    </div>
                </div>
                <div class="form-group">
                  <label class="col-md-6 control-label">Status</label>
                  <div class="col-md-6">
                      <input type="text" class="form-control" v-model="editProfile.status">
                  </div>
                </div>
              <div class="form-group">
                  <label class="col-md-6 control-label">First Name</label>
                  <div class="col-md-6">
                      <input type="text" class="form-control" v-model="editProfile.firstname">
                  </div>
              </div>
              <div class="form-group">
                  <label class="col-md-6 control-label">LastName</label>
                  <div class="col-md-6">
                      <input type="text" class="form-control" v-model="editProfile.lastname">
                  </div>
              </div>
              <div class="form-group">
                  <label class="col-md-6 control-label">Date of Birth</label>
                  <div class="col-md-6">
                      <input type="text" class="form-control" v-model="editProfile.dateOfBirth">
                  </div>
              </div>
              <div class="form-group">
                  <label class="col-md-6 control-label">Phone</label>
                  <div class="col-md-6">
                      <input type="text" class="form-control" v-model="editProfile.phone">
                  </div>
              </div>
              <div class="form-group">
                  <label class="col-md-6 control-label">Address</label>
                  <div class="col-md-6">
                      <input type="text" class="form-control" v-model="editProfile.address">
                  </div>
              </div>
              <div class="form-group">
                  <label class="col-md-6 control-label">Country</label>
                  <div class="col-md-6">
                      <input type="text" class="form-control" v-model="editProfile.country">
                  </div>
              </div>
            </form> 
            <button type="button" @click="clkUpdateDetails" class="btn btn-primary">Update Details</button> 
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card">
          <div class="card-header">
            Avatar
          </div>
          <div class="card-body">
            <div class="row h-100 justify-content-center align-items-center">
              <img :src="avatar" class="rounded-circle img-thumbnail mx-auto" alt="image">
            </div>
            <br>
            <div class="row h-100 justify-content-center align-items-center">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ChangeImgModal">Change Photo</button>
            </div>
          </div>
        </div>
      </div>

      <!-- Modal -->
      <div class="modal fade" id="ChangeImgModal" tabindex="-1" role="dialog" aria-labelledby="ChangeImgModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col mx-auto d-block">
                  <button type="button" class="btn btn-outline-secondary btn-circle" @click="clckNoPhoto" data-dismiss="modal">
                    <img src="/src/assets/img/profile.png" class="rounded-circle img-thumbnail" alt="image">
                  </button>
                 <p class="text-center"><strong>No Photo</strong></p>
                </div>
                <div class="col mx-auto d-block">
                  <button type="file" id="fileInput" class="btn btn-outline-secondary btn-circle" @click="clckUploadPhoto">
                    <i class="fa fa-upload "></i>
                    <!-- <but type="file" id="fileInput" class="btn btn-outline-secondary btn-circle"> -->
                  </button>
                 <p class="text-center"><strong>Upload Photo</strong></p>
                </div>
                <div class="col">
                  <button type="button" class="btn btn-outline-secondary btn-circle" @click="clckGravatar" data-dismiss="modal">
                    <img :src="gravatarFullPath" class="rounded-circle img-thumbnail" alt="image">
                  </button>
                 <p class="text-center"><strong>Gravatar</strong></p>
                </div>  
              </div>            
            </div>
          </div>
        </div>
      </div>
    </div>     
</template>

<script>
import md5 from 'md5';
import { mapGetters } from 'vuex';
import axios from 'axios';
import toastr from 'toastr';
export default {
    computed: mapGetters({
      roladeskAPI: 'roladeskAPIget'
      }),
    data() {
      return {
        avatar: '',
        files: [],
        rawImg: 'test',
        gravatarFullPath: '',
        editProfile: {
          role: '',
          status: '',
          firstname: '',
          lastname: '',
          dateOfBirth: '',
          phone: '',
          address: '',
          country: ''
        }
      }
    },
    methods: {
      clkUpdateDetails(){
        axios.patch(this.roladeskAPI + 'me/details', { 
          headers: { Authorization: 'Bearer ' + String(localStorage.getItem("token")) 
          },
          body: {
            "first_name": this.editProfile.firstname,
            "last_name": this.editProfile.lastname,
            "birthday": this.editProfile.dateOfBirth,
            "phone": this.editProfile.phone,
            "address": this.editProfile.address,
            "country_id": this.editProfile.country
          }
        })
        .then((response)=> {
            if(response.data.status = 200){
              toastr.success("Updated Successfully!")
            }      
        })
          .catch((error) => {
            toastr.error(error.response.data)
        })
      },
      // No Photo
      clckNoPhoto(){
        axios.put(this.roladeskAPI + 'me/avatar/external', { 
          headers: {
        Authorization: 'Bearer ' + String(localStorage.getItem("token")) 
          }, 
          body: { url: '/src/assets/img/profile.png' }
        })
        .then((response)=> {
            if(response.data.status = 200){
              toastr.success("Updated Successfully!")
            }      
        })
          .catch((error) => {
            toastr.error(error.response.data)
        })
      },
      // Upload Photo
      clckUploadPhoto(){

        // axios.put(this.roladeskAPI + 'me/avatar', { 
        //   headers: {
        // 'Authorization': 'Bearer ' + String(localStorage.getItem("token")) 
        //   },
            // body: {
            //   ""
            // }
        // })
        // .then((response)=> {
        //     if(response.data.status = 200){
        //       toastr.success("Updated Successfully!")
        //     }      
        // })
        //   .catch((error) => {
        //     console.log(error.response)
        //     console.log('unsuccessful');
        // })
      },
      // Gravatar
      clckGravatar(){
        axios.put(this.roladeskAPI + 'me/avatar/external', { 
          headers: { Authorization: 'Bearer ' + String(localStorage.getItem("token")) 
          },
          body: { url: this.gravatarFullPath}
        })
        .then((response)=> {
            if(response.data.status = 200){
              toastr.success("Updated Successfully!")
            }      
        })
          .catch((error) => {
            toastr.error(error.response.data)
        })
      }           
    },
    mounted() {
      this.avatar = localStorage.getItem("avatar")
      this.gravatarFullPath = 'https://www.gravatar.com/avatar/' + md5(String(localStorage.getItem("email")).trim().toLowerCase()) + '?s=200'
      if(localStorage.getItem("role") != 'null'){
        this.editProfile.role = localStorage.getItem("role")
      }
            if(localStorage.getItem("status") != 'null'){
        this.editProfile.status = localStorage.getItem("status")
      }
            if(localStorage.getItem("first_name") != 'null'){
        this.editProfile.firstname = localStorage.getItem("first_name")
      }
            if(localStorage.getItem("last_name") != 'null'){
        this.editProfile.lastname = localStorage.getItem("last_name")
      }
            if(localStorage.getItem("birthday") != 'null'){
        this.editProfile.dateOfBirth = localStorage.getItem("birthday")
      }
            if(localStorage.getItem("phone") != 'null'){
        this.editProfile.phone = localStorage.getItem("phone")
      }
            if(localStorage.getItem("address") != 'null'){
        this.editProfile.address = localStorage.getItem("address")
      }
            if(localStorage.getItem("country_id") != 'null'){
        this.editProfile.country = localStorage.getItem("country_id")
      }      
    }
}
</script>

<style>
.btn-circle {
    width: 120px;
    height: 120px;
    padding: 1px;
    border-radius: 60px;
    font-size: 50px;
    line-height: 1.33;
    cursor:pointer;
}

.img1-circle {
    width: 118px;
    height: 118px;
    padding: 2px;
    border: 2px;
    border-radius: 59px;
    cursor:pointer;
}

</style>

