<template>
  <div class="row">
      <div class="col">
        <div class="card bg-default">
            <div class="card-header">Activity</div>
            <div class="card-body">
                <line-chart></line-chart>
            </div>
        </div>
      </div>
  </div>
</template>

<script>
import Vue from 'vue';
export default {
  data() {
      return {
          DailyStats: ''
      }
  }
}

Vue.component('line-chart', {
  extends: VueChartJs.Line,
  mounted () {
    this.DailyStats = localStorage.getItem("userStats")

    this.renderChart({
      labels: ['jan','feb','march','april','may'],
      datasets: [
        {
          label: 'User Activity',
          backgroundColor: 'white',
          data: [10, 2, 3, 40, 39, 80, 40]
        }
      ]
    }, {responsive: true, maintainAspectRatio: false})
  }
})
</script>

