<template>
    <div id="app">
        <router-view></router-view>
    </div>
</template>

<script>
    import Panel from './components/panel/Panel.vue'
    import Auth from './components/auth/Auth.vue'

export default {
        components: {
            Panel, Auth
        },
  }
</script>


<style>
.vs-crumbs a:after{ padding: 0 12px; color: #888; content: "/";}
.cursorhand {cursor:pointer;}
</style>
