<template>
    <div>
        <h1>Confirm Your Email</h1>
    </div>
</template>

<script>
export default {
    name: 'confirmation',
    metaInfo: {
    title: 'Confirmation'+' | Roladesk',
      // override the parent template and just use the above title only
      titleTemplate: null
    }
}
</script>

