<template>
  <div class="mx-auto">
    <div>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <h1 class="text-center"><i class="fa fa-circle-o-notch fa-spin" aria-hidden="true"></i></h1>
    </div>
  </div> 
</template>
<script>
import { mapGetters } from 'vuex';
import axios from 'axios';
export default {
    name: 'initialize',
    metaInfo: {
    title: 'Initialize'+' | Roladesk',
    // override the parent template and just use the above title only
    titleTemplate: null
    },
    data() {
        return {
          roleId: '',
          uriEnd: ''
        }
    },
    computed: mapGetters({
            roladeskAPI: 'roladeskAPIget',
            roleIdSet: 'settingsRoleId'
            }),
    created() {
        // Get Profile Info
        axios.get(this.roladeskAPI + 'me?include=role', { headers: {
        'Authorization': 'Bearer ' + String(localStorage.getItem("token")) }
            })
        .then((response)=> {
            if(response.status == 200){    
            // save Profile info to local storage       
            localStorage.id = response.data.id; 
            localStorage.first_name = response.data.first_name;
            localStorage.last_name = response.data.last_name;
            localStorage.username = response.data.username;
            localStorage.email = response.data.email;
            localStorage.phone = response.data.phone;
            localStorage.avatar = response.data.avatar;
            localStorage.address = response.data.address;
            localStorage.country_id = response.data.country_id;
            localStorage.role_id = response.data.role_id;
            localStorage.status = response.data.status;
            localStorage.birthday = response.data.birthday;
            localStorage.last_login = response.data.last_login;
            localStorage.two_factor_country_code = response.data.two_factor_country_code;
            localStorage.two_factor_phone = response.data.two_factor_phone;
            localStorage.two_factor_options = response.data.two_factor_options;
            localStorage.created_at = response.data.created_at;
            localStorage.updated_at = response.data.updated_at;
            // get roleid        
             this.roleId = String(localStorage.getItem("role_id"))

        // set uri end depends on role
        if(this.roleId == this.roleIdSet) {
            this.uriEnd = 'users/sessions';
            // if admin - get all user's info for Activity Log  
                axios.get(this.roladeskAPI + 'users', { headers: {
                Authorization: 'Bearer ' + String(localStorage.getItem("token")) }
                    })
                .then((response)=> { 
                    if(response.status == 200){
                        localStorage.usersData = JSON.stringify(response.data.data)
                        localStorage.usersMeta = JSON.stringify(response.data.meta)           
                        }      
                    })
                .catch((error) => {
                    // console.log(error.response)
                    });
            // if admin - get all user's Activity Log
                axios.get(this.roladeskAPI + 'activity', { headers: {
                Authorization: 'Bearer ' + String(localStorage.getItem("token")) }
                    })
                .then((response)=> { 
                    if(response.status == 200){           
                    localStorage.activityData = JSON.stringify(response.data.data)
                    localStorage.activityMeta = JSON.stringify(response.data.meta)           
                    }      
                    })
                .catch((error) => {
                    // console.log(error.response)
                    });
            // if admin - get admin stats
                axios.get(this.roladeskAPI + 'stats', { headers: {
                Authorization: 'Bearer ' + String(localStorage.getItem("token")) }
                    })
                .then((response)=> { 
                    // console.log(response.data)
                    if(response.status == 200){           
                        localStorage.statsLastestReg = JSON.stringify(response.data.latest_registrations)
                        localStorage.statsUserMonth = JSON.stringify(response.data.users_per_month)
                        localStorage.statsUserStat = JSON.stringify(response.data.users_per_status)           
                    }      
                    })
                .catch((error) => {
                    // console.log(error.response)
                    });

            }else{
            this.uriEnd = 'me/sessions';

            // if user - get personal Activity Log
            axios.get(this.roladeskAPI + 'me/sessions', { headers: {
            Authorization: 'Bearer ' + String(localStorage.getItem("token")) }
            })
            .then((response)=> {
                if(response.status == 200){                                        
                    localStorage.profSessionData =  JSON.stringify(response.data)         
                    }      
            })
            .catch((error) => {
            // console.log(error.response)
            })
            // if user - get non-admin stats
            axios.get(this.roladeskAPI + 'stats', { headers: {
            Authorization: 'Bearer ' + String(localStorage.getItem("token")) }
                })
            .then((response)=> { 
                // console.log(response.data)
                if(response.status == 200){           
                    localStorage.userStats = JSON.stringify(response.data)          
                }      
                })
            .catch((error) => {
                // console.log(error.response)
                });            

        };

    }
        // after everything is downloaded
        this.$router.push({name: 'dashboard'});
            })
        .catch((error) => {
            // console.log(error.response)
            }) 
    }      
}
</script>

