<template>
        <div class="row">
            <div class="col"></div>
            <div class="col">
                <div class="panel panel-default">
                    <br>
                    <br>
                    <div class="panel-heading"><h1 class="text-center" >Login</h1></div>
                        <div class="alert alert-danger" v-show="loginError != ''"role="alert" id="danger-alert">
                        {{ loginError }}
                        </div>
                    <div class="panel-body">
                        <form class="form-horizontal" role="form">

                            <div class="form-group">
                                <label for="email" class="col-md control-label">Username</label>
                                <div class="col-md">
                                    <input id="username" type="email" class="form-control" name="username" @click="clickFIeld" v-model="loginDetails.username" placeholder="Username" required autofocus>
                                    <p class="text-danger" v-show="errorsUsername != ''"> {{ errorsUsername }}</p>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="password" class="col-md control-label">Password</label>
                                <div class="col-md">
                                    <input id="password" type="password" class="form-control" @click="clickFIeld" v-model="loginDetails.password" name="password" placeholder="Password" required>
                                    <p class="text-danger" v-show="errorsPassword != ''"> {{ errorsPassword }}</p>     
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" v-model="loginDetails.remember"  name="remember" > Remember Me
                                        </label>
                                        <router-link class="float-right" to="/register">Don't have an account?</router-link>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col">
                                    <button type="submit" @click.prevent="loginPost" class="btn btn-primary">
                                        Login
                                    </button>

                                    <a class="btn btn-link" href="">
                                        Forgot Your Password?
                                    </a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col"></div>
        </div>
</template>

<script>
import { mapGetters } from 'vuex';
import axios from 'axios';
import VueRouter from 'vue-router';
import toastr from "toastr";

export default {
    name: 'login',
    metaInfo: {
    title: 'Login'+' | Roladesk',
      // override the parent template and just use the above title only
    titleTemplate: null
    },
    computed: mapGetters({
        roladeskAPI: 'roladeskAPIget'
        }),
    data() {
        return {
            loginDetails: {username:'',password:'', remember:true},
            errorsUsername: '',
            errorsPassword: '',
            loginError: ''
        }
    },
    methods: {
        loginPost(){
            let vlogin = this;
            axios.post(this.roladeskAPI +'login', vlogin.loginDetails)
            .then((response)=> {
                localStorage.setItem("token", response.data.token);
                toastr.success("Login Successfully!")
                this.$router.push({ name: 'initialize' });
            })       
            .catch((error)=> {
                    // console.log(error.response)
                    if(error.response.status === 422){
                        if(error.response.data){
                            if(error.response.data.username){
                               this.errorsUsername = error.response.data.username[0];
                            }
                            if(error.response.data.password){
                               this.errorsPassword = error.response.data.password[0];
                            }
                        }
                    }
                    if(error.response.status === 401){
                        if(error.response.data.error){
                            this.loginError = error.response.data.error;
                        }
                    }
            })
        },
        clickFIeld() {
        this.errorsUsername = '';
        this.errorsPassword = '';
        this.loginError = '';
        }
    }
}
</script>

