<template>
        <div class="row">
            <div class="col"></div>
            <div class="col">
                <div class="panel panel-default">
                    <br>
                    <br>
                    <div class="panel-heading"><h1 class="text-center" >Register</h1></div>
                    <div class="panel-body">
                        <form class="form-horizontal" role="form">
                            <div class="form-group">
                                <label for="email" class="col-md control-label">Email</label>
                                <div class="col-md">
                                    <input id="email" type="email" class="form-control" name="email" @click="clickFIeld" v-model="registerDetails.email" required autofocus>
                                    <p class="text-danger" v-show="errorEmail != ''"> {{ errorEmail }}</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="username" class="col-md control-label">User Name</label>
                                <div class="col-md">
                                    <input id="username" type="text" class="form-control" name="username" @click="clickFIeld" v-model="registerDetails.username" required autofocus>
                                    <p class="text-danger" v-show="errorUsername != ''"> {{ errorUsername }}</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="password" class="col-md control-label">Password</label>
                                <div class="col-md">
                                    <input id="password" type="password" class="form-control" @click="clickFIeld" v-model="registerDetails.password" name="password" required>  
                                    <p class="text-danger" v-show="errorPassword != ''"> {{ errorPassword }}</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="password" class="col-md control-label">Confirm Password</label>
                                <div class="col-md">
                                    <input id="password" type="password" class="form-control" @click="clickFIeld" v-model="registerDetails.password_confirmation" name="password" required>  
                                    <p class="text-danger" v-show="errorPassword != ''"> {{ errorPassword }}</p>
                                </div>
                            </div>                           
                            <div class="form-group">
                                <div class="col">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" @click="clickFIeld" v-model="registerDetails.tos"  name="terms" > I accept <a href="#">Terms of Service</a>
                                            <p class="text-danger" v-show="errorTos != ''"> {{ errorTos }}</p>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="form-group">
                                <div class="col"> 
                                <div class="g-recaptcha" data-sitekey="6LfH6jgUAAAAAIRkAiI0_pkbVfm5Z3CzWXZI9b8u"></div>
                                </div>
                            </div> -->
                            <div class="form-group">
                                <div class="col">
                                    <button type="submit" @click.prevent="registerPost" class="btn btn-primary">
                                        Register
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col"></div>
        </div>
</template>

<script>
import { mapGetters } from 'vuex';
import axios from 'axios';
export default {
    name: 'signup',
    metaInfo: {
    title: 'Sign Up'+' | Roladesk',
      // override the parent template and just use the above title only
      titleTemplate: null
    },
    computed: mapGetters({
        roladeskAPI: 'roladeskAPIget'
        }),
    data() {
        return {
            registerDetails: { username:'', email:'', password:'', password_confirmation: '',  recaptchaResponse: '', tos: false},
            errorEmail: '',
            errorUsername: '',
            errorPassword: '',
            errorTos: ''
                }
            },
    methods: {
        registerPost() {
                axios.post(this.roladeskAPI+'register', {
                    "username": this.registerDetails.username,
                    "email": this.registerDetails.email,
                    "password": this.registerDetails.password,
                    "password_confirmation": this.registerDetails.password_confirmation,
                    // "g-recaptcha-response": this.registerDetails.recaptchaResponse,
                    "tos": this.registerDetails.tos 
                })
                .then((response) => {
                    if(response.status === 201){
                    toastr.success("Registered Successfully!")
                    this.$router.push({name: 'confirmation'});
                   }
                })
                .catch((error) => {
                    if(error.response.status === 422){
                        if(error.response.data){
                            if(error.response.data.email){
                               this.errorEmail = error.response.data.email[0];
                            }
                            if(error.response.data.username){
                               this.errorUsername = error.response.data.username[0];
                            }
                            if(error.response.data.password){
                               this.errorPassword = error.response.data.password[0];
                            }
                            if(error.response.data.tos){
                               this.errorTos = error.response.data.tos[0];
                            }
                        }
                    }
                });
            },
                clickFIeld() {
            this.errorEmail = '';
            this.errorUsername = '';
            this.errorPassword = '';
            this.errorTos = '';
        }
    }
}
</script>

